<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COINAPI_KEY</key>
	<string>96495795-3990-4324-8a40-3e7a26f1197c</string>
	<key>New item</key>
	<string></string>
</dict>
</plist>
